body {  
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #222;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  width: 100vw;
  align-items: center;
  align-self: flex-start;
}

.right {
  margin-left: auto;
}

#center {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 45vh;
  width: 500px;
}

footer {
  display: flex;
  width: 100vw;
  align-content: center;
  align-self: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  margin: -12px -8px;
  color: #5f6368
}

#search-bar {
  width: 100%;
  border-radius: 20px;
  height: 35px;
  border-width: 0.5px;
  margin-top: 15px;
}

#search-bar:hover {
  box-shadow: 1px 1px 3px 3px rgb(212, 212, 212);
}

#search-buttons {
  display: flex;
  justify-content: center;
  align-self: center;
}

#center img{
  margin: auto;
}

.text {
  font-size: 13px;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
  margin-right: 15px;
  padding: none;
  opacity: 0.8;
}

.text:hover {
  opacity: 1;
  text-decoration: underline;
}

.left {
  margin-left: 15px;
}

header img {
  margin: 10px 15px 0px 0px;
  opacity: 0.6;
}

header img:hover {
  opacity: 1;
}

#signin {
  color: white;
  font-weight: bold;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  padding: 7px 12px;
  border-radius: 4px;
  margin-top: 8px;
  text-decoration: none;
}

#signin:active {
  background-color: #4271f4;
}

#search-div img {
  position: absolute;
  margin: -31px 0px 0px 10px;
  opacity: 0.5;
}

#search-buttons a {
  padding: 12px;

  border-radius: 5px;
  opacity: 1;
  margin: 30px 10px;
  background-color: #F2F2F2;
  color:#5F6368;
}

#search-buttons a:hover {
  color: black;
  border: 1px solid black;
  padding: 11px
}